* {
    margin: 0%;
    padding: 0%;
    overflow-x: unset;
    /* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
	/* font-family: 'GeosansLight', Helvetica, Arial, Lucida, sans-serif; */
}

/* @font-face {
	
	src: url("/fonts/flaticon/font/Flaticon.ttf");
} */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.reach_top_button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    border-radius: 50%;
}
.reach_top_button button{
    background-color: darkslategrey;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 30px;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 10px rgb(39, 65, 65);
    font-family: unset;
}

.mycontainer {
    width: 100%;
    height: auto;
    position: relative;
}

.custom_container {
    width: 100%;
    height: auto;
    position: relative;
}

.background-img {
    background-image: url(../images/hero_bg_1.jpg);
    width: 100%;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img::before {
	content: "";
	position: absolute;
	background-color:black;
	opacity: 0.3;
	width: 100%;
    height: 93vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.desktop_view_navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 9;
    flex-wrap: wrap;
}


.phone_view_navbar {
    display: none;
}

.logo-img-div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: unset;
}

.logo-img-div img {
    text-align: center;
    filter: invert(1);
    width: 40px;
}

.navbar_unorder_list ul {
    display: flex;
    align-items: start;
    list-style-type: none;
    color: white;
    font-size: small;
    margin: 0%;
    font-family: unset;
}

.navbar_unorder_list li {
    margin: 0px 15px;
    font-family: unset;
}

.navbar_unorder_list a {
    text-decoration: none;
    color: white;
    font-family: unset;
}

.navbar_unorder_list a:hover {
    text-decoration: underline white;
    text-underline-offset: 10px;
}

.phone_view_unorderlist {
    display: none;
    background-color: #333333;
    position: absolute;
    top: 12%;
    width: 100%;
    padding: 10px 0px;
    font-size: small;
    font-family: unset;
}

.phone_view_unorderlist a {
    text-decoration: none;
    color: white;
    font-family: unset;
}

.hamburger_bar_icon {
    display: none;
    color: white;
}

.close_hamburger_icon {
    display: none;
    color: white;
}

.banner_content_div {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 150px 0px 0px 0px;
    margin-left: 90px;
    flex-direction: column;
}

.Book_Appointment_btn_link{
    z-index: 1;
    text-decoration: none !important;
}

.banner_heading {
    color: white;
    font-weight: 100;
    font-size: 75px;
    width: 50%;
    z-index: 1;
    font-family: unset;
}

.banner_heading_span {
    color: white;
    font-weight: 600;
    font-size: 75px;
    font-family: unset;
}

.testimonials {
    background-color: white;
    color: black;
    margin: 20px 0px;
}

.slider_parent_div {
    width: 100%;
    height: auto;
}

.slider_child_div {
    width: 50%;
    height: auto;
    margin: auto;
}

.quote {
    padding-left: 30px;
    position: relative;
    padding: 100px 50px;
    font-family:unset;
}

.quote:before {
    content: "";
    background-image: url("../images/quote_before.png");
    background-size: 100%;
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 0px;
    filter: invert();
}

.quote:after {
    content: "";
    background-image: url("../images/quote_after.png");
    background-size: 100%;
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 0px;
    position: absolute;
    right: 0px;
    bottom: 0;
    filter: invert();
}

.flex_div_number{
    display: flex;
    color: black;
    align-items: center;
    border-radius: 5px;
    background: white;
    padding: 0px 5px;
}

.field_div span{
    font-weight: 100 !important;
}

.footer {
    width: 100%;
    height: auto;
    background-color: darkslategray;
    padding-bottom: 25px;
}

.footer_first_child {
    padding: 25px 0px;
    width: 90%;
    height: auto;
    margin: auto
}

.footer_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer_navigation {
    color: white;
}

.footer_navigation ul li {
    text-align: left;
    margin: 10px 0px;
    font-size: small;
    list-style-type: none;
    font-family: unset;
}

.footer_navigation ul li  a {
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-family:unset;
}
.footer_navigation ul li  a:hover {
    text-decoration: underline white;
    text-underline-offset: 5px;
}

.footer_address {
    color: white;
}

/* .logo_footer_img{
    width: 10%;
} */

.address_icons {
    margin: 10px 0px;
    display: flex;
    text-decoration: none;
}
.address_icons:hover {
    text-decoration: none;
}

.address_icons i, p{
    margin: 0px 5px;
    color: white;
}

.address_icons p{
    font-size: small;
    font-family: unset;
}

.follow_us {
    text-align: center;
    color: white;
}

.follow {
    margin-top: 30px;
}

.follow a{
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-family: unset;
}

.exp-expertise-img{
    width: 20px;
}

.emial_no {
    margin: 5px 0px;
}

.social_icons a {
    color: white;
    text-decoration: none;
    font-family: unset;
}

.social_icons i {
    font-size: x-large;
    margin: 20px;
}
.social_icons i:hover {
    color: #137AE0;
}

.follow_section_contact_info div a{
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: unset;
}
.follow_section_contact_info div a:hover{
    color: #137AE0;
}

.footer_adress_location_icon div:hover{
    color: #137AE0;
}

.contect_form {
    width: 100%;
    height: auto;
    background-color:darkslategrey;
}

.contect_form_child {
    width: 50%;
    height: auto;
    margin: 0px auto 0px auto;
    color: white;
    padding: 1px 100px;
    border-radius: 10px;
}

.contect_form_child h1 {
    font-weight: 100;
    text-align: center;
    margin: 30px 0px;
    font-size: 30px;
    font-family: unset;
}

.contect-form-heading{
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 100;
    font-family: unset;
}

.book_appointment{
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.Appointment{
    font-weight: 600;
}

.contect_form_child span {
    font-weight: bold;
}

.field_parent_div {
    width: 42%;
    height: auto;
}

.field_parent_div label {
    width: 100%;
    height: auto;
    font-size: small;
    font-family: unset;
}

.field_div {
    width: 100%;
    height: auto;
}

.contect_form_child input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    height: 30px;
    border:none;
    outline: none;
    border-radius: 5px;
    font: 25px;
    padding-left: 4px;
    font-family: unset;
}

.contect_form_children {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 15px 0px;
}

.textarea_parent_div {
    width: 100%;
}

.textarea_div {
    width: 100%;
    height: auto;
}

.textarea_div label {
    font-size: small;
    font-family: unset;
}

.textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    font-family: unset;
}

.submit_button_div {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 30px 0px;
}

.submit_button {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: unset;
}

.why_section {
    width: 100%;
    height: auto;
    background: url(../images/unnamed.png);
    padding: 50px 0px;
}

.why_section h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-family: unset;
}

.why_section_child {
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 250px;
    position: relative;
}

.why_us_card_img {
    width: 100%;
    height: 100%;
}

.img_card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.img_card:hover {
    transform: rotateY(180deg);
}

.img_card .flip_card_detais {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.img_card:hover .flip_card_detais {
    visibility: visible;
    transform: rotateY(180deg);
}

.flip_card_detais {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2980b9;
    top: 0%;
    visibility: hidden;
    transform: rotateY(180deg);
}

.flip_card_detais h3,
p {
    text-align: center;
    color: white;
    font-family: unset;
}

.awards_section {
    width: 100%;
    height: auto;
    background-color: darkslategrey;
    padding: 20px 0px ;
    /* background-color: #137AE0; */
}

.awards_section_child {
    width: 100%;
    height: auto;
    margin: auto;
}

.awards_section_child h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: unset;
}

.awards_section_child li {
    margin: 20px 0px;
    font-size: 15px;
    font-family: unset;
}

.our_team_section {
    width: 100%;
    height: auto;
    margin: 30px 0px 50px 0px;
}

.our_team_child_section {
    width: 90%;
    height: auto;
    margin: auto;
}

.our_team_child_section h1 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: unset;
}

.highlight_sub_heading{
    font-weight: 100;
}

.treatment_team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.our_team_card_div {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 25px;
    background-color: #f3f0f0;
    padding-top: 10px;
    margin: 10px 0px;
    transition: all 1s;
}

.services_heading{
    text-align: center;
    margin: 30px 0px;
    font-size: 30px;
    font-family: unset;
}

.our_team_card_div:hover {
    box-shadow: 0px 5px 10px #cecece;
}

.our_team_img_div {
    width: 150px;
    height: 150px;
}

.our_team_img_div img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    padding: 0px;
    /* border: 4px solid coral; */
}

.team_name {
    color: black;
    font-size: 15px;
    text-align: center;    
    font-family: unset;
}

.team_content {
    color: black;
    font-size: small;
    text-align: center;
    font-family: unset;
}

.gallery {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background: url(../images/dental.jpg);
    background-size: cover;
    padding: 1px 0px;
}

.gallery_child {
    width: 90%;
    height: auto;
    margin: auto;
}

.Book_Appointment_btn{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: white;
    color: darkslategray;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award_parent_section {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.award_img_div {
    width: 75%;
    height: auto;
    margin: auto;
}

.award_img_div h3 {
    text-align: center;
    margin-top: 20px;
    font-family: unset;
}

.award_img {
    margin: auto;
    width: 200px;
    height: auto;
}

.award_img img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.award_img img:hover {
    border-radius: 5px;
    box-shadow: none;
}

.gallery_child h1 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px;
    font-family: unset;
}

.img_parent_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.img_parent_div h3 {
    margin: 20px 0px;
    font-family: unset;
}

.img_div {
    width: 200px;
    height: 200px;
}

.img_div img {
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    border-radius: 25px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

.img_div img:hover {
    border-radius: 10px;
    box-shadow: none;
}

.about_us_page {
    width: 100%;
    height: auto;
    background: url(../images/hero_bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 0px 1px 0px;
}

.child_about {
    width: 75%;
    height: auto;
    margin: auto;
}

.about_div {
    width: 100%;
    height: auto;
}

.footer_book_appointment{
    font-weight: 600;
    text-decoration: underline white !important;
    text-underline-offset: 5px;
}

.book_arrow{
    color: #137AE0;
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

.about_div h1,
p {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: unset;
}

.about_div p {
    font-size: small;
    font-family: unset;
}
.about_div div {
    margin:35px 0px ;
}

.about_img_parent_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.about_img_parent_div h2 {
    color: white;
    font-size: 15px;
    font-family: unset;
}

.img_and_content_facilities{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img_div {
    width: 50px;
    height: auto;
}

.about_img_div img {
    width: 100%;
    height: auto;
}

.text p{
    text-align: center;
    font-family: unset;
}

.testimonials_content{
    font-family: unset;
}

.testimonials h5, h3 {
    text-align: center;
    font-family: unset;
}
.testimonials h5 {
    font-size: 30px;
    font-family: unset;
}

.why-section_child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.whyUsIcon{
    font-size: 50px;
    margin-bottom: 20px;
    transition: transform 0.6s;
}
/* .whyUsIcon:hover{
    color: darkslategray;
} */

.why-section_child h2{
    font-size: 15px;
    font-family: unset;
}

.why-us_children{
    margin: 0 !important;
}

.myimgcontainer{
    padding: 50px 25px 0px 25px;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }

  .introduction_video_ifram{
    width: 100%;
    height: 225px;
    z-index: 1;
  }

  .youtube_video{
    width: 30%;
    z-index: 1;
  }

  .prosmyle_logo_text{
    color: white;
    text-align: center;
    font-family: unset;
    font-size: 25px;
}

.footer_navigation_links_heading{
    text-align: left;
}

.footer_heading{
    margin: 20px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    font-family: unset;
}

.phone_view_button{
    display: none;
}

.parent_location-section{
    width: 100%;
    height: auto;
    padding: 50px 0px;
}

.parent_location-section h1{
    font-size: 30px;
    text-align: center;
    font-family: unset;
}

.child_location-section{
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.location_sections h1{
    font-size: 25px;
    font-family: unset;
}

.location_sections a p{
    color: black;
    font-family: unset;
    font-size: small;
}
.location_sections a p:hover{
    color: #137AE0;
}
.location_sections a i:hover{
    color: #137AE0;
}
.location_sections a i{
    color: black;
}

.clinic_img{
    margin: auto;
    width: 70%;
}

.btn-close-cls{
    font-size: 30px !important;
    z-index: 2 !important;
    font-family: unset;
}


/* ========================= hamburger =========================== */
@media only screen and (min-width: 0px) and (max-width: 768px) {

    * {
        overflow-x: hidden;
    }

    .reach_top_button{
        display: none;
        position: fixed;
        bottom: 75px;
        right: 20px;
        z-index: 9;
        border-radius: 50%;
    }

    .Book_Appointment_btn_link{
        display: none;
    }

    .child_location-section{
        display: block;
    }
    .phone_view_button{
        position: fixed;
        bottom: 0px;
        display: flex;
        justify-content: center;
        background: darkslategrey;
        padding: 10px 0px;
        align-items: center;
        width: 100%;
    }
    .phone_view_button button{
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin: 0px 5px;
        color: #137AE0;
        font-family: unset;
    }

    .background-img {
        background-size: cover;
        background-position-x: right;
        height: auto;
    }

    .background-img::before {
        content: "";
        position: absolute;
        background-color:black;
        opacity: 0.3;
        width: 100%;
        height: 25vh;
        background-size: cover;
        background-position-x: right;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .desktop_view_navbar {
        display: none;
    }

    .about_div p {
        text-align: justify;
        font-family: unset;
    }

    .logo-img-div {
        z-index: 1;
    }

    .phone_view_navbar_icon_ham-and-cross{
        z-index: 1;
    }

    .why-us_children{
        margin: 25px 0px !important;
    }

    swiper-slide{
        width: 150px;
    }

    .youtube_video{
        width: 65%;
      }

      .why-section_child{
        display: block;
      }

    .introduction_video_ifram{
        height: 135px;
      }

    .banner_content_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .banner_heading {
        color: white;
        font-size: 25px;
        text-align: center;
        font-family: unset;
    }

    .banner_heading_span {
        color: white;
        font-weight: 900;
        font-size: 25px;
        font-family: unset;
    }

    .banner_content_div {
        padding: 0px 0px;
    }

    .about_img_parent_div {
        justify-content: space-around;
    }

    .treatment_team {
        justify-content: center;
    }

    .awards_section_child {
        width: 80%;
    }

    /* start phoneView Navbar */

    .phone_view_navbar {
        display: block;
        padding-top: 10px;
    }

    .phone_view_navbar_logo_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    .phone_view_unorderlist {
        display: none;
        text-align: center;
        list-style-type: none;
        color: white;
        font-size: small;
        overflow: hidden;
        animation: mymove 0.3s linear;
        z-index: 2;
        font-family: unset;
    }

    @keyframes mymove {
        from {
            height: 0px;
        }

        to {
            height: 200px;
        }
    }

    .phone_view_unorderlist {
        top: 55px;
    }

    .phone_view_unorderlist li {
        text-align: center;
        margin-bottom: 10px;
        font-family: unset;
    }

    .hamburger_bar_icon {
        display: block;
        color: white;
    }

    .close_hamburger_icon {
        display: none;
        color: white;
    }

    /* End phoneView Navbar */

    .slider_child_div {
        width: 100%;
    }

    .img_parent_div {
        justify-content: center;
    }

    .contect_form_child {
        width: 100%;
        padding: 0px 15px;
        border-radius: 0px;
    }

    #contect-form{
        margin: 0px 0px;
    }

    .banner_content_div{
        margin-left: 0px;
    }

}

/* ========================= end hamburger =========================== */


@media only screen and (min-width: 426px) and (max-width: 768px) {
    .awards_section_child {
        width: 100%;
    }
    swiper-slide {
        width: 200px;
    }

    .our_team_card_div{
        margin: 10px 10px;
    }

    .phone_view_navbar_logo_icons {
        justify-content: space-around !important;
    }

    .background-img {
        height: 75vh !important;
    }

    .banner_content_div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
    }

    .youtube_video {
        width: 40%;
    }

    .introduction_video_ifram {
        height: 169px;
    }

    .background-img::before {
        height: 75vh;
    }

    .banner_heading {
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: unset;
    }

    .banner_heading span{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: unset;
    }

    .treatment_team {
        justify-content: center;
    }

    .img_parent_div {
        justify-content: space-around;
    }

    .contect_form_child {
        width: 75%;
        padding: 50px 25px;
        border-radius: 10px;
    }
}




/* ****************************************************************************/
/** *** MEDIA *** **/
@media all and (min-width: 768px) {
    .sticky-nav-wrapper {
        display: none;
    }
    .mobile-view {
        display:  none;
    }
    .footer-bottom {
        margin-bottom: 0 !important;
    }
}
@media all and (max-width: 1199px) {
    .work {
        height: 250px;
        min-height: 250px;
    }
}

@media all and (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 970px;
    }
    .container > .w-70,
    .container-fluid > .w-70 {
        width: 100%;
        float: none;
    }
    .p-100 {
        padding: 80px 10px;
    }
    .heading h2 {
        font-size: 28px;
        font-family: unset;
    }
    .testimonials {
        padding: 80px 0;
    }
    .container .w-30 {
        width: 100%;
        margin: auto;
        float: none;
        max-width: 350px;
    }
    #header .navigation a::before {
        display: none;
    }
    #header .header-content {
        padding: 10px 0;
    }
    #header .logo {
        width: 160px;
    }
    #header .nav-toggle {
        top: 0;
        right: 0;
        position: relative;
    }
    #header.fixed .logo {
        width: 150px;
    }
    .quotes blockquote {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }
    .quotes blockquote p,
    .testimonials p {
        font-size: 24px;
        font-family: unset;
    }
    .flexslider {
        padding-bottom: 0;
    }
    .contact-form.fixed {
        position: static;
    }
    .banner {
        height: 550px;
        min-height: 550px;
    }
    .banner-text {
        padding: 24% 0 15% 0;
    }
    .work {
        height: 235px;
        min-height: 235px;
    }
}
@media all and (max-width: 991px) {
    .quotes blockquote p,
    .testimonials p {
        font-size: 18px;
        font-family: unset;
    }
    .quote::before,
    .quote::after {
        width: 70px;
        height: 70px;
    }
}
@media all and (max-width: 767px) {
    .banner-text {
        padding: 40% 0 15% 0;
    }
    .banner {
        background-size: auto;
    }
    .banner:hover {
        background-size: auto;
    }
    .banner-text h1 {
        font-size: 22px;
    }
    .banner-text p {
        font-size: 14px;
    }
    .sticky-nav-wrapper {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: darkslategray;
        color: gray;
        z-index: 5;
        -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    }
    .sticky-nav-wrapper {
        color: gray;
    }
    .sticky-nav li {
        width: 50%;
        float: left;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }
    .sticky-nav li::after {
        content: "";
        position: absolute;
        height: 60%;
        background: #fff;
        width: 1px;
        right: 0;
        top: 20%;
    }
    .sticky-nav li a {
        color: #fff;
    }
    .sticky-nav .fa {
        font-size: 23px;
    }
    .sticky-nav li span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .works [class*="col-"] {
        margin: 10px 0;
        overflow: hidden;
    }
    .work .overlay {
        opacity: 1;
        background: rgba(255,255,255,.85);
    }
    .work-box .overlay h5,
    .work-box .overlay p {
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    dl, ol, ul{
        margin-bottom: 0px;
    }

}

@keyframes phone {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    10%,
    20% {
        -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    40%,
    60% {
        -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    80% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}

.fa-phone.animated,
.fa-phone.animated-hover:hover,
.fa-parent.animated-hover:hover>.fa-phone {
    -webkit-animation: phone 2s linear infinite;
    -ms-animation: phone 2s linear infinite;
    animation: phone 2s linear infinite;
}
/* ****************************************************************************/